@import 'variables';

// General Styles

.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}
.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}



.header {
    background: url(../images/bg-header-home.jpg) center;
    
    .topNav {
        background: url(../images/bg-topNav.png) top repeat-x;
        
        .logo {
            
            position: relative;
            z-index: 10;
            
            img {
                -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
                box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
            }
            
        }
        
        .topNavContent {
            
            .navbar {
                
                .navbar-header {
                    
                    .navbar-toggle {
                        border: solid 1px $red-logo;
                        background: rgba(0,0,0,0.3);
                        margin-right: 0;
                        -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
                        box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
                        
                        span {
                            background: rgba(255,255,255,0.7);
                        }
                        
                    }
                    
                }
                
                .navbar-collapse {
                    float: right;
                    width: 80%;
                    text-align: right;
                    background: $brown-light;
                    padding: 0 30px;
                    border-radius: 5px;
                    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
                    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
                    position: absolute;
                    top: 65px;
                    right: 0;
                    z-index: 10;
                    
                      @media (min-width: $screen-sm-min) {
                          background: none;
                          margin: 0;
                          width: 100%;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          position: static;
                    }
                    
                    .navbar-nav {
                        
                        > li {
                            
                            > a {
                                color: $gray-nav;
                                font-family: $font-DIN;
                                font-size: 18px;
                                text-transform: uppercase;
                                -webkit-transition: color 0.3s ease;
                                -moz-transition: color 0.3s ease;
                                -ms-transition: color 0.3s ease;
                                -o-transition: color 0.3s ease;
                                transition: color 0.3s ease;
                                
                                @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                                  padding: 15px 10px;
                                }
                                
                                &:hover, &:focus {
                                    background: none;
                                    color: $red-logo;
                                    outline: none;
                                }
                                
                            }
                            
                            &.active {
                                
                                > a {
                                    background: none;
                                    color: $red-logo;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                    .navbar-nav.socialContent {
                        
                        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                          display: none;
                        }
                        
                        .social {
                            background: url(../images/sprite-social-icons.png) no-repeat;
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            margin: 13px 3px;
                            
                            @media (max-width: $screen-md-max) {
                                  margin: 13px 15px;
                            }
                            
                            > a {
                                display: block;
                                height: 100%;
                                opacity: 0;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                         
                            &.fb {
                                background-position: 0 -22px;
                                
                                &:hover {
                                    background-position: 0 0;
                                }
                                
                            }
                            
                            &.twttr {
                                background-position: -22px -22px;
                                
                                &:hover {
                                    background-position: -22px 0;
                                }
                                
                            }
                            
                            &.inst {
                                background-position: -44px -22px;
                                
                                &:hover {
                                    background-position: -44px 0;
                                }
                                
                            }
                            
                            &.ytb {
                                background-position: -66px -22px;
                                
                                &:hover {
                                    background-position: -66px 0;
                                }
                                
                            }
                            
                        }
                        
                        .searchTop {
                            
                            .container-1 {
                              width: 130px;
                              vertical-align: middle;
                              white-space: nowrap;
                              position: relative;
                              margin: 6px 0 6px 20px;
                                float: right;
                                
                                &:before, &:after {
                                    display: table;
                                    content: "";
                                    clear: both;
                                }
                                
                                @media (max-width: $screen-sm-max) {
                                    width: 87%;
                                    margin-bottom: 15px;
                                }
                                
                                
                                
                                input {
                                  width: 130px;
                                  height: 34px;
                                  background: $brown-medium;
                                  border: none;
                                  font-size: 10pt;
                                  float: left;
                                  color: $gray-nav;
                                  padding: 0 30px 0 10px;
                                    
                                    @media (max-width: $screen-md-max) {
                                        width: 100%;
                                    }
                                    
                                    &::-webkit-input-placeholder {
                                       color: $gray-nav;
                                    }
                                    
                                    &:-moz-placeholder { /* Firefox 18- */
                                       color: $gray-nav;  
                                    }

                                    &::-moz-placeholder {  /* Firefox 19+ */
                                       color: $gray-nav;  
                                    }

                                    &:-ms-input-placeholder {  
                                       color: $gray-nav;  
                                    }
                                }
                                
                                .icon {
                                  position: absolute;
                                  top: 50%;
                                  right: 7%;
                                  margin-left: 17px;
                                  margin-top: -9px;
                                  z-index: 1;
                                  color: $red-logo;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
            }
        }
    }
    
}

.ppalNav {
    background: $brown-light;
    border: 1px solid #FFF;
    border-width: 0 0 1px 0;
    position: relative;
    margin: -1px 0 1px;
    z-index: 1px;
    
    &:after {
    //background: $gray-cold;
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      border: 1px dashed $gray-cold;
        border-width: 1px 0;
        left: 0;
        right: 0;
      z-index: 1;
    }
    
    .navbar-header {
        
        padding: 10px 0;
                    
        .navbar-toggle {
            border: solid 1px $red-logo;
            margin-right: 0;
            z-index: 2;
            background: rgba(0,0,0,0.4);
            -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
            box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);

            span {
               font-family: $font-DIN; 
               font-size: 18px;
                background: rgba(255,255,255,1);

        }

    }
        
    }
    
    .main-menu {
            z-index: 3;
        position: relative;
        
        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            
            @media (max-width: $screen-sm-min) {
                flex-direction: column;
                padding: 0;
            }
            
            
            
            li {
                display: block;
                flex-grow: 1;
                padding: 15px 0;
                
                @media (max-width: $screen-sm-min) {
                    border: 1px dashed $gray-cold;
                    border-width: 1px 0 0;
                    padding: 10px 0;
                    
                    &:first-child {
                        border-color: $red-logo;
                    }
                }
                
                > a {
                    color: $gray-nav;
                    font-family: $font-DIN;
                    font-size: 28px;
                    -webkit-transition: color 0.3s ease;
                    -moz-transition: color 0.3s ease;
                    -ms-transition: color 0.3s ease;
                    -o-transition: color 0.3s ease;
                    transition: color 0.3s ease;

                    &:hover, &:focus {
                        background: none;
                        color: $red-logo;
                        outline: none;
                        text-decoration: none;
                    }
                    
                }

                }

                &.active {

                    > a {
                        background: none;
                        color: $red-logo;
                    }

                }
            
        }
            
        }
    
}